@model IEnumerable<Mango.Web.Models.ProductRequestDto>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Products List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Product</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCategoryName</td>
                    <td>@item.ProductPrice</td>
                    <td>
                        <a asp-action="Create" class="btn btn-success" asp-route-productId="@item.ProductId">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-productId="@item.ProductId">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>